"*":
  Zen:
    softWrap: false
    width: 160
  "autocomplete-plus":
    fileBlacklist: [
      ".*"
      "*.md"
      "*.txt"
    ]
  core:
    disabledPackages: [
      "notebook"
      "language-gfm"
      "wrap-guide"
    ]
    ignoredNames: [
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "*~"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  "default-language":
    defaultLanguage: "Pandoc markdown"
  editor:
    fontFamily: "DejaVu Sans Mono"
    showIndentGuide: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "9d2cc651-880b-ad49-90cb-e8e61ea9a2b1"
  "markdown-preview":
    breakOnSingleNewline: true
  "markdown-writer":
    fileExtension: ".md"
    siteLocalDir: "~/Dropbox/notes/fabiofortkamp.com-posts"
  nvatom:
    directory: "~/Dropbox/notes"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".gfm.nvatom.source":
  editor:
    tabLength: 4
".gfm.source":
  editor:
    tabLength: 4
